<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Demo</title>
    <link rel="stylesheet"
          th:href="@{css/demo.css}" />
</head>
<body>

Form submitted succesfully!
<br><br>
Have a nice day, <span th:text="${student.firstName}" /> from <span th:text="${student.country}"/>.
<br><br>
Preferred programming language:
<span th:text="${student.prefLang}"/>
<br><br>
Preferred Operating systems:
<br>
<ul>
    <li th:each="tempSystem : ${student.prefSystems}" th:text="${tempSystem}" />
</ul>

</body>
</html>